    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LTE Testrun</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/status">Status</span></a></li>
            <li><a href="/logfiles">Logfiles</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="control-group" id="fields">
          <div class="controls"> 
            <form role="form" autocomplete="off" class="form-inline" action="status" method="post">
              <div>
                &nbsp;
              </div>
              <div class="form-group">
                <input class="form-control" name="desc" type="text" placeholder="Testrun Description" />
                <input class="form-control" name="bandwidth" type="text" placeholder="Bandwidthstream (MB)" />
                <div class="form-group">&nbsp;&nbsp;&nbsp;
                  <select name="bandwithMode[]" size="1" class="form-control">
                    <option value="uni">Uni-directional</option>
                    <option value="bi">Bi-directional</option>
                  </select>&nbsp;&nbsp;
                </div>
                <button type="submit" class="btn btn-primary">Start Testrun</button>
              </div>
              <div>
                &nbsp;
              </div>
              <div>
                <label class="control-label" for="field1">UDP Streams</label>
              </div>
              <div class="entry input-group col-xs-11">
                <div class="form-group">
                  <input class="form-control" name="pkgSize[]" type="text" placeholder="size in kb" />
                </div>
                <div class="form-group">&nbsp;&nbsp;&nbsp;
                  <input class="form-control" name="pkgInt[]" type="text" placeholder="interval in sec" />
                </div>
                <div class="form-group">&nbsp;&nbsp;&nbsp;
                  <select name="sender[]" size="1" class="form-control">
                    <option value="rp">Raspi</option>
                    <option value="qc">Cloud</option>
                  </select>
                </div>
                <div class="form-group">&nbsp;&nbsp;&nbsp;
                  <select name="modem[]" size="1" class="form-control">
                    <option value="lte1">LTE1</option>
                    <option value="lte2">LTE2</option>
                  </select>
                </div>
                <span class="input-group-btn">
                  <button class="btn btn-success btn-add" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
$(function()
{
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-add')
            .removeClass('btn-add').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus"></span>');
    }).on('click', '.btn-remove', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	});
});
    </script>
